doctype html
html
  head
    script(src='http://code.jquery.com/jquery-1.7.1.min.js')
    link(rel='stylesheet', href='featuredreviews.css')
    script(src='featuredreviews.js')
    title Featured Reviews
  body
    h2
      // Make the Log Out prompt button text, the css code will format it to become the button
      strong
        b(method='post', href='/logout') Log Out
    #header
      img(src='movie-reel.png', alt='Logo')
      img(src='title.png')
    h1 Featured Reviews
    #show-data.messagepop.pop
      a.close X
    .container
      // Click the movie poster to view its details and review
      img#pic1.image(src='Fight_Club/poster1.jpg')
      img#pic2.image(src='BatmanVSuperman/poster1.jpg')
      img#pic3.image(src='BeautifulMind/poster1.jpg')
      img#pic4.image(src='CaptainAmerica/poster1.jpg')
      img#pic5.image(src='TheTale/poster1.jpg')
      img#pic6.image(src='interstellar/poster1.jpeg')
      img#pic7.image(src='TheMartian/poster1.jpg')
      img#pic8.image(src='Guardians/poster1.jpg')
      img#pic9.image(src='HowToTrain/poster1.jpg')
