doctype html
// Agilan Ampigaipathar (100553054)
// Start html code
html
  head
    // Make the title for the tab
    title The Average Movie Connoisseur
    // Link the neccessary bootstrap and css files
    link(rel='stylesheet', href='main.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Milonga', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  // The body of the site
  body
    // Make a standard navigation bar and place it so that the logo and Log-in icons would appear on top of this
    nav.navbar.navbar-default(role='navigation', style='margin-top: 80px')
      // Make the navbar header styled
      .navbar-header
        a.navbar-brand(href='/main') The Average Movie Connoisseur
      // Make the headers beside the brand
      ul.nav.navbar-nav
        // Make an active header for the header to be highlighted as opposed to the others
        li.active
          a(method="get", href='/featuredreviews') Featured Reviews
        li
          a(href='/playing') Now Playing
        li
          a(href='/movie') Movie List
        li
          a(href='/boxoffice') Box Office
        
        // Make the Community header and the dropdown menu for it
        li.dropdown
          // The caret is the triangle beside the word, "Community"
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Community
            span.caret
          ul.dropdown-menu(role='menu')
            // Make the sub-headers through the dropdown menu
            li
              a(href='/messageboard') Message Board
            // Make the dividers between each sub-header within the dropdown menu
            li.divider(role='separator')
            li
              a(href='/chat') Chat
    #header
      img(src='movie-reel.png', alt='Logo')
      img(src='title.png')
      div
        h2
          // Make the Log In prompt button text, the css code will format it to become the button
          strong
            b=username
            form(action="/logout", method="post")
              button(type="submit", class="btn btn-primary" id="logoutbtn") Log out
    // <h2>Real people, Real reviews</h2>
    // Make a new section for the content and paragraphs of the program
    section
      // Make a container class to give the indented space from the left as instructed
      .container
        h2 Real people, Real reviews
        h3
          | The founders (Agilan, Alex, and Saif) were tired of the same old movie reviews and critiques that
          | do not agree with the greater fanbase of the common moviegoer. Thus, The Average Movie Connoisseurs (TAMC) was
          | founded on November 4, 2016
        h3
          | We exist to give accurate ratings and reviews based on what we, the average moviegoer likes
