doctype html
html
  head
    title Community Message Board
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='messageboard.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(type='text/css', rel='stylesheet', href='messageboard.css')
  body
    header
      #header
        img(src='movie-reel.png', alt='Logo')
        img(src='title.png')
    h2 Community Message Board
    h2
      // Make the Log Out prompt button text, the css code will format it to become the button
      strong
        form(action="/logout", method="post")
          //c(href='makeaccount') Make an Account
          button(type="submit", class="btn btn-primary" id="logoutbtn") Log out
    #comment1
      h5 10/21/2016 - Saif - Upcoming Movies
      p I'm so excited for Star Wars: Rogue 1!!!
    #comment2
      #head
        h5 10/22/2016 - Agilan - Upcoming Movies
      p Yeah! Infinity Wars too!
    #comment3
      #head
        h5 10/25/2016 - Alex - Upcoming Movies
      p How could we possibly forget the Justice League?!
    #comment4
      #head
        h5 10/30/2016 - Randy - Upcoming Movies
      p#demo
    #form
      b=username
      p Comment:
      br
      textarea#comment(name='comment4')
      button#btn(onclick='myFunction()') Enter
      p#demo
