doctype html
html
  head
    title Community Post
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Milonga', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='messageboard.js')
    link(type='text/css', rel='stylesheet', href='messageboard.css')
  body
    nav.navbar.navbar-default(role='navigation', style='margin-top: 80px')
      // Make the navbar header styled
      .navbar-header
        a.navbar-brand(href='/main') The Average Movie Connoisseur
      // Make the headers beside the brand
      ul.nav.navbar-nav
        // Make an active header for the header to be highlighted as opposed to the others
        li.active
          a(method="get", href='/featuredreviews') Featured Reviews
        li
          a(href='/playing') Now Playing
        li
          a(href='/movie') Movie List
        // Make the Community header and the dropdown menu for it
        li.dropdown
          // The caret is the triangle beside the word, "Community"
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Community
            span.caret
          ul.dropdown-menu(role='menu')
            // Make the sub-headers through the dropdown menu
            li
              a(href='/messageboard') Message Board
            // Make the dividers between each sub-header within the dropdown menu
            li.divider(role='separator')
            li
              a(href='/chat') Chat
    #header
      img(src='movie-reel.png', alt='Logo')
      img(src='title.png')
      div
        h2
          // Make the Log In prompt button text, the css code will format it to become the button
          strong
            b=username
            form(action="/logout", method="post")
              button(type="submit", class="btn btn-primary" id="logoutbtn") Log out
    h2 Community Post
    #comment1
      h5 10/21/2016 - Saif - Upcoming Movies
      p I'm so excited for Star Wars: Rogue 1!!!
    #comment2
      #head
        h5 10/22/2016 - Agilan - Upcoming Movies
      p Yeah! Infinity Wars too!
    #comment3
      #head
        h5 10/25/2016 - Alex - Upcoming Movies
      p How could we possibly forget the Justice League?!
    #comment4
      #head
        h5 10/30/2016 - #{username} - Upcoming Movies
      p#demo
    #form
      b=username
      p Comment:
      br
      textarea#comment(name='comment4')
      button#btn(onclick='myFunction()') Enter
      p#demo
