#header img {
    width: 1100px;
    height: 75px;
    float: left;
    top: 7px;
    position: absolute;
}

/*The formatting and positioning for the headers using the a tags*/
#header a {
	width: 100px;
	padding: 0.5em 1em 0.5em 1em;
	background: darkBlue;
	border: 1px solid darkBlue;
	border-radius: 10px;
	color: white;
	text-decoration: none;
	text-align: center;
}

/*Formatting and positioning the dropdown menu*/
.dropdown {
    float: right;
    position: inherit;
    display: block;
/*    background-color: #be1515;*/
}

/*Formatting the welcome sign*/
b {
    background-color: #000000;
    border-radius: 10px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    margin: none;
    position: absolute;
    right: 40px;
    top: 5px;
}

/*Formatting the Log out button*/
#logoutbtn {
    background-color: #000000;
    border-radius: 10px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    margin: none;
    position: absolute;
    right: 40px;
    top: 50px;
}

/*Setting background color for site*/
html, body {
    background: #f2c508;
}

/*Have some opacity and format the pop up*/
.messagepop {
  background-color:#000000;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
  position:relative;
  text-align:left;
  width: 800px;
  height: 580px;
  padding: 25px 25px 20px;
  opacity: 0.90;
  filter: alpha(opacity=90);  /*For IE8 and earlier*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

/*Add an opacity hover effect to the images within the container */
.container > img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;

}

.close {
    float: right;
    font-size: 21px;
    color: #fdf400;
}

h1 {
  color: #000000;
  font-size: 50px;
  top: 40px;
  position: relative;
  height: 130px;
  line-height: 130px;
  text-align: center;
}

.container > img {
    height: 350px;
    width: 250px;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
}

#show-data > img {
  margin-left: auto;
  margin-right: auto;
  cursor:default;
  margin-top: 25px;
  position:relative;
  border-bottom: 1px solid #EFEFEF;
  display: block;
}

#show-data {
    color: rgb(191, 134, 26);
}

a {
    font-family: 'Milonga', cursive;

}

