/*Formatting and positioning the logo*/
#header img {
    width: 1100px;
    height: 75px;
    float: left;
    top: 7px;
    position: absolute;
}

/*The formatting and positioning for the headers using the a tags*/
#header a {
	width: 100px;
	padding: 0.5em 1em 0.5em 1em;
	background: darkBlue;
	border: 1px solid darkBlue;
	border-radius: 10px;
	color: white;
	text-decoration: none;
	text-align: center;
}

/*Formatting and positioning the dropdown menu*/
.dropdown {
    float: right;
    position: inherit;
    display: block;
/*    background-color: #be1515;*/
}

/*Formatting the welcome sign*/
b {
    background-color: #000000;
    border-radius: 10px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    margin: none;
    position: absolute;
    right: 40px;
    top: 5px;
}

/*Formatting the Log out button*/
#logoutbtn {
    background-color: #000000;
    border-radius: 10px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    margin: none;
    position: absolute;
    right: 40px;
    top: 50px;
}

/*Setting background color for site*/
html, body {
    background: #f2c508;
}

body > header{
    height: 130px;
    background: #fdf400;
}

#comment1 p, #comment2 p, #comment3 p, #comment4 p, #demo {
    border: 1px solid #000070;
    background: #f0f0ff;
    margin: 10px;
    margin-top: 0px;
    padding: 1px;
}

#comment1 h5, #comment2 h5, #comment3 h5, #comment4 h5 {
    margin: 10px;
    margin-bottom: 0px;
    color: #000000;
    padding: 10px;
    
}

body > h2{
    text-align: center;
    padding: 10px;
    font-family: Helvettica;
}

body> #form{
    margin: 10px;
    padding: 5px;
}

body>#form>textarea{
    width: 300px;
    height: 70px;
}

body>#form>input{
    width: 200px;
}
body>#form>button{
    margin: 30px;
}

a {
    font-family: 'Milonga', cursive;

}
